#container {
  width: 100%;
  height: 100%; 
  padding-top:1px;
  text-align:center;
}

#logo {
  text-align:center;
  padding-top: 10px;
  margin:auto;
  width: 100%;
  height: 110px;
}

#tracks {
background: rgb(48,48,48); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(48,48,48,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,48,48,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(48,48,48,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(48,48,48,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(48,48,48,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(48,48,48,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

  position:relative;
  border-style:solid;
  border-width:1px;
  border-color:gray;
  width: 1180px;
  height: 1350px; 
  margin: auto;
  margin-top:2px;
  margin-bottom:2px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding:20px;
}

#track1Wrapper {
	background-color:#FFFAE8;
	margin-right:0px;
	float:left;
}
#track2Wrapper {
	margin-left:0px;
	background-color:#040024;
	float:right;
}
#track3Wrapper {
	margin-right:0px;
	background-color:#00108C;
	float:left;
}
#track4Wrapper {
	margin-left:0px;
	background: url(../img/Indianapolis-500-race_-Indy-500-schedule-and-lineup.png);
	border-style:solid;
	border-width:medium;
	border-color:black;
	float:right;
}


#RacingRivals {
	text-align:center;
	clear:both;
}
	
#bottom {
  height:50px;
}

#horizTrackWrapper {
    background-color:transparent;
    text-align:center;
	border-width:thick;
	border-color:red;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;  
    width:1150px;
    margin:auto;
    padding:0px;
}

.track {
    text-align:center;
	border-width:thick;
	border-color:red;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;  
    width:500px;   
    margin:30px;
    margin-top:10px;
    padding:20px;
}

.white {
	background-color:#FFF;
}

.blue {
	background-color:blue;  	
}

.black {
	background-color:black;
	color:white;
}

.yellow {
	background-color:yellow;  	
}

body {
  margin: 0px;
  padding: 0px;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

html {
  margin: 0px;
  padding: px;
  background: url(../img/CarbonFiber_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
trackLabel {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;    	
}
p {
	color:white;
}

a:link    { color: #FFF }  /* unvisited links */
a:visited { color: #ccc }  /* visited links   */
a:hover   { color: #0C0 }  /* user hovers     */
a:active  { color: #00C }  /* active links    */
